{% extends "bootstrap/base.html" %}
{% block title %}Tome{% endblock %}
{% block navbar %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar content -->
        <div class="navbar navbar-inverse" role="navigation" style="font-family: Candara; width: 95vw">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Tome</a>
            </div>
            <div class="navbar-collapse collapse nav-justified">
                <ul class="navbar-nav mr-auto" onmouseover="">
                    <li class="nav-item">
                        <a href="/" class="nav-item nav-link">Home</a></li>
                    {% block more_nav %}{% endblock %}
                </ul>
                <ul class="navbar-nav navbar-right media-right"
                    style="margin-left:auto; margin-right: 0">

                    {% if admin_privileges %}
                        <li class="nav-item" >
                            <a href='/adminstrator_add_author' class="nav-item nav-link" style="width: 100px">Add
                                Author</a>
                        </li>
                        <li class="nav-item">
                            <a href='/adminstrator_add_book' class="nav-item nav-link px-20" style="width: 90px">Add
                                Book</a>
                        </li>
                    {% elif id %}
                        <li class="nav-item">
                            <a class="nav-item nav-link" style="width: 180px" href={{ url_for('recommend_me') }}>
                                Recommend me books </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" style="width: 180px" href={{ url_for('following_authors') }}>
                                Authors I'm following </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" style="width: 90px" href={{ url_for('reader', brs_id = id, is_self=True) }}>
                                My Profile </a>
                        </li>
                    {% endif %}

                    {% if id %}
                        <li class="nav-item">
                            <a href='/signout' class="nav-item nav-link px-3"> Sign Out </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href='/login' class="nav-item nav-link px-3"> Sign In </a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container" style="font-family: Candara">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('.static', filename='demo.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel="script" href="{{ url_for('.static', filename='table_pagination.js') }}">
{% endblock %}