{% extends 'base.html' %}

{% block page_content %}
    <br/> <br/> <br/>
    <h1>Welcome to BRS</h1>
    <br/>

    <ul class="list-group">
        <li class="list-group-item"><a href="/genres"><h3>Find Books by Genre</h3></a></li>
        <li class="list-group-item"><a href="/authors"><h3>Find Books by Author</h3></a></li>
        <li class="list-group-item"><a href="/languages"><h3>Find Books by Language</h3></a></li>
        <li class="list-group-item"><a href="/publishers"><h3>Find Books by Publisher</h3></a></li>
    </ul>
{% endblock %}